 body {

}

.content{
   background-image: url("img/background.jpg");
   width: 300px;
   height: auto;
}

table{
   
   
}

#imgTable{
   width: 100px;
    
}

.imgBox{
   display: inline-block;
   height: 400px;
   width:300px;
}
h3{
	padding-left: 25px;
}
.ig_img{
	width: 250px;
	padding-left: 25px;
	padding-right: 25px;
}
.likeBox{
	width: 125px;
	height: 25px;
	padding-left: 25px;
	display: block;
	float: left;
}
.votebox{
	width: 125px;
	height: 25px;
	padding-right: 25px;
	display: block;
	float: right;
}
button{
	width: 125px;
}